<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/fov_trainer.css' %}">
    <title>Тренажер угла обзора</title>
</head>

<body>
    <div id="score">0</div>
    
    <div class="game-area">
        <div class="number" id="left-num"></div>
        <div class="separator"></div>
        <div class="number" id="right-num"></div>
    </div>

    <div class="controls">
        <input type="text" id="input-value" placeholder="Введите числа через пробел" />
        <button id="apply-button">Проверить</button>

        <label for="distance">Изменение расстояния:</label>
        <input class="settings" type="range" min="0" max="10" value="5" step="1" id="distance">

        <label for="delay">Задержка перед исчезновением:</label>
        <input class="settings" type="range" min="100" max="1900" value="1000" step="100" id="delay">

        <label for="fontsize">Размер шрифта:</label>
        <input class="settings" type="range" min="15" max="85" value="50" step="1" id="fontsize">
    </div>

    <script src="{% static 'main/js/fov_trainer.js' %}"></script>
</body>

</html>